.logo-header {
  margin-left: 100px;
}

.portfolio-logo {
  box-shadow: 1px 4px 6px 0px rgba 0, 0, 0, 0;
}

.header-hw27 {
  width: 1600px;
  height: 80px;
  margin-top: 30px;
  display: flex;
  border-radius: 4px;
}

.classheaderfornav {
  display: flex;
  position: relative;
  margin-left: 90px;
  top: -10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.create-line {
  position: relative;
  width: 78px;
  margin-top: 50px;
  right: 275px;
}

.class-header-section2 {
  display: flex;
  right: -170px;
  position: relative;
}

.class-header-section2-gmail {
  right: -15px;
  position: relative;
  top: -16px;
}

.class-header-section3 {
  display: flex;
  right: -400px;
  position: relative;
  top: -49px;
}

.class-header-section3 {
  display: flex;
  right: -400px;
  position: relative;
  top: -49px;
}

.class-header-section2-gmail {
  right: -15px;
  position: relative;
  top: -16px;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba 33, 150, 243, 0.9;
  transform: translateY(100%);
  transition: transform 800ms ease-in-out;
}

.portfolio-logo:hover .portfolio-overlay {
  transform: translateY(0);
}

.fordisplayflex {
  display: flex;
  margin-left: 430px;
}

.box1-sectiondownheader {
  width: 73px;
  height: 38px;
  border-radius: 4px;
  margin-right: 10px;
}

.box2-sectiondownheader {
  width: 125px;
  height: 38px;
  border-radius: 4px;
  margin-right: 10px;
}

.box3-sectiondownheader {
  width: 112px;
  height: 38px;
  border-radius: 4px;
  margin-right: 10px;
}

.box4-sectiondownheader {
  width: 103px;
  height: 38px;
  border-radius: 4px;
  margin-right: 10px;
}

.box5-sectiondownheader {
  width: 130px;
  height: 38px;
  border-radius: 4px;
}

.box1-text-sectiondownheader {
  margin-left: 25px;
  padding-top: 8px;
}

.overlay2ff {
  width: 370px;
  height: 294px;
  position: absolute;
  margin-top: 300px;
}

.overlay2ffgy {
  z-index: 1;
  width: 370px;
  height: 294px;
  overflow: hidden;
  margin-bottom: 70px;
  position: absolute;
  top: 0px;
}

.overlay2ffgy:hover .overlay2ff {
  transform: translateY(-300px);
  transition: 0.6s;
}

.classfortext1-hw27 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-left: 20px;
}

.classfortext2-hw27 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 20px;
  margin-top: 8px;
}

.allcontainer-hw27-sectione1 {
  display: flex;
}

.containerhw27-12-foto {
  margin-left: 110px;
}

.containerhw27-13-foto {
  margin-left: 50px;
}

.containerhw27-14-foto {
  margin-left: 50px;
}

.foto-hoverhw27:hover {
  z-index: 1;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #686666;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  height: 1200px;
  width: 20px;
  left: 0px;
  top: 0px;
  font-size: 20px;
  cursor: pointer;
  background-color: gray;
  color: white;
  padding: 10px 15px;
  border: none;
  text-align: center;
}

.openbtn:hover {
  background-color: #2c2a2a;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.textopenmodalbar {
  rotate: 90deg;
  position: relative;
  right: 0%;
  top: -260px;
  display: flex;
}

.textheremodalbar {
  margin-left: 5px;
}

.text {
  color: transparent;
  width: 370px;
  height: 294px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 30px;
  margin-top: 40px;
}

.pskcmsxmaao {
  position: relative;
}

.nav-header {
  margin-right: 70px;
}

.portfolio-logo {
  border: 1px solid #EEE;
  background: #2196F3;
}

.create-line {
  border-top: 3px solid #2196F3;
}

.class-header-section2:hover {
  color: #2196F3;
  fill: #2196F3;
}

.class-header-section3:hover {
  color: #2196F3;
}

.portfolio-overlay {
  color: #2196F3;
}

.portfolio-logo:hover .portfolio-overlay {
  color: #2196F3;
}

.box1-sectiondownheader {
  background-color: #2196F3;
  color: #EEE;
}

.box2-sectiondownheader {
  background-color: #f5f4fb;
}

.box3-sectiondownheader {
  background-color: #f5f4fb;
}

.box4-sectiondownheader {
  background-color: #f5f4fb;
}

.box5-sectiondownheader {
  background-color: #f5f4fb;
}

.box-sectiondownheader:hover {
  background-color: #2196F3;
  color: #EEE;
}

.overlay2ff {
  background-color: #2196F3;
}

.nav-header:hover {
  color: #2196F3;
}

.nav-header2 {
  color: #2196F3;
}

.classfortext2-hw27 {
  color: #757575;
}

.foto-hoverhw27:hover {
  background-color: black;
  color: #2196F3;
}

.text:hover {
  color: white;
}

.containerhw27-1-foto {
  width: 370px;
  height: 404px;
  top: 262px;
  left: 215px;
  border: 1px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
  margin-top: 50px;
}