.portfolio-logo {
    border: 1px solid #EEE;
    background: #2196F3;
}

.create-line {
    border-top: 3px solid #2196F3;
}

.class-header-section2:hover {
    color: #2196F3;
    fill: #2196F3;
}

.class-header-section3:hover {
    color: #2196F3;
}

.portfolio-overlay {
    color: #2196F3;
}

.portfolio-logo:hover .portfolio-overlay {
    color: #2196F3;
}

.box1-sectiondownheader {
    background-color: #2196F3;
    color: #EEE;
}

.box2-sectiondownheader {
    background-color: #f5f4fb;
}

.box3-sectiondownheader {
    background-color: #f5f4fb;
}

.box4-sectiondownheader {
    background-color: #f5f4fb;
}

.box5-sectiondownheader {
    background-color: #f5f4fb
}

.box-sectiondownheader:hover {
    background-color: #2196F3;
    color: #EEE;
}

.overlay2ff {
    background-color: #2196F3;
}

.nav-header:hover {
    color: #2196F3;

}

.nav-header2 {
    color: #2196F3;
}
.classfortext2-hw27 {
    color: #757575;
}
.foto-hoverhw27:hover {
    background-color: black;
    color: #2196F3;
}
.text:hover {
    color: white;
}