.header-hw27 {
    width: 1600px;
    height: 80px;
    margin-top: 30px;
    display: flex;
    border-radius: 4px;
}

.classheaderfornav {
    display: flex;
    position: relative;
    margin-left: 90px;
    top: -10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;


}

.create-line {
    position: relative;
    width: 78px;
    margin-top: 50px;
    right: 275px;
}

.class-header-section2 {
    display: flex;
    right: -170px;
    position: relative;
}

.class-header-section2-gmail {
    right: -15px;
    position: relative;
    top: -16px;
}

.class-header-section3 {
    display: flex;
    right: -400px;
    position: relative;
    top: -49px;
}

.class-header-section3 {
    display: flex;
    right: -400px;
    position: relative;
    top: -49px;
}


.class-header-section2-gmail {
    right: -15px;
    position: relative;
    top: -16px;
}